/node_modules
/public/hot
/public/storage
/storage/*.key
!/vendor/
/vendor/*
!/vendor/laravel/
/vender/laravel/*
!/vendor/laravel/framework/
/vender/laravel/framework/*
!/vendor/laravel/framework/src/
/vendor/laravel/framework/src/*
!/vendor/laravel/framework/src/Illuminate/
/vendor/laravel/framework/src/Illuminate/*
!/vendor/laravel/framework/src/Illuminate/Foundation/
/vendor/laravel/framework/src/Illuminate/Foundation/*
!/vendor/laravel/framework/src/Illuminate/Foundation/Auth/
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/gameserver/server.js
webpack.mix.js