section.login,
section.lobby,
section.ingame {
  display: none;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.bg {
  background: #ad5389;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3c1053, #ad5389);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -2;
}

.bg .small {
  background-image: url("/img/bg.small.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center -20px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 380px;
  opacity: 0.5;
}

.bg.ingame {
  background-color: gray;
  background-image: none;
}

.logoWrapper {
  margin: 50px;
  text-align: center;
  min-height: 80px;
  z-index: 1;
}

.logoWrapper > img {
  height: 80px;
}

.logoWrapper > #welcomeMessage > div.welcomeMessage {
  font-size: 13px;
  padding: 10px;
  margin: 15px 15px;
  text-align: Center;
  background-color: white;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2);
}

.logoWrapper > #welcomeMessage > div.welcomeMessage > strong {
  color: red;
}

.titlecard {
  margin: 10px;
  width: auto;
  position: relative;
  padding: 15px;
  box-sizing: border-box;
  background-color: white;
  border: none;
}

.titlecard h1 {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

.titlecard > form button {
  color: white;
  font-size: 14px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
  background: #fc4a1a;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7b733, #fc4a1a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.titlecard > form button.green {
  background: #B3FFAB;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #07ea78, #18d9d1);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.titlecard > form button.blue {
  background: #00c6ff;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0072ff, #00c6ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.titlecard > form button:disabled {
  background-image: unset;
  background-color: gray;
  color: #CCC;
}

.titlecard > form > label {
  display: block;
  letter-spacing: 1px;
  font-size: 12px;
  color: gray;
  position: relative;
  margin-bottom: 15px;
}

.titlecard > form > label > input[type=text],
.titlecard > form > label > input[type=email],
.titlecard > form > label > input[type=password] {
  display: block;
  letter-spacing: 1px;
  color: #333;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #DDD;
  outline: none;
  width: 100%;
}

.titlecard > form > input[type=checkbox] {
  padding-bottom: 5px;
}

.titlecard > form > label > em {
  position: absolute;
  bottom: 7px;
  right: 5px;
  font-size: 17px;
  color: #333;
}

a.btn {
  display: block;
  text-align: center;
  background: #f16060;
  /* fallback for old browsers */
  border-bottom: 2px solid black;
  font-size: 14px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
}

footer {
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  position: absolute;
  bottom: 5px;
  text-align: right;
  color: white;
  right: 5px;
}

section.ingameBar {
  background-color: white;
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  left: 0;
  z-index: 3;
}

section.ingameBar .chatBalloon {
  display: inline-block;
  background-color: black;
  color: white;
  font-size: 12px;
  border-radius: 4px;
  padding: 3px 5px;
  position: fixed;
  display: none;
}

section.ingameBar.enemy {
  border-right: 10px solid indianred;
}

section.ingameBar.enemy .chatBalloon {
  top: 60px;
  left: 65px;
}

section.ingameBar.me {
  border-left: 10px solid indianred;
}

section.ingameBar.me .chatBalloon {
  bottom: 60px;
  left: 5px;
}

section.ingameBar.me .chatInputBalloon {
  background-color: black;
  color: #fff;
  height: 30px;
  width: 65%;
  position: absolute;
  bottom: 9px;
  right: 10px;
  border-radius: 4px;
  z-index: 2;
  display: none;
}

section.ingameBar.me .chatInputBalloon #ingameChatBody {
  background-color: transparent;
  color: white;
  font-size: 14px;
  border: none;
  height: 30px;
  width: 100%;
  padding-left: 5px;
}

section.ingameBar.me .chatInputBalloon #chatSubmit {
  background-color: transparent;
  color: white;
  font-size: 20px;
  border: none;
  position: absolute;
  right: 3px;
  top: 0px;
}

section.ingameBar.off {
  border-color: #fff;
}

section.ingameBar.on {
  animation: blinkturn 1s infinite ease-in-out;
  -webkit-animation: blinkturn 1s infinite ease-in-out;
  -moz-animation: blinkturn 1s infinite ease-in-out;
}

section.ingameBar > .fa-arrow-left {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  left: 20px;
  top: 17px;
}

section.ingameBar > .fa-comment {
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 17px;
}

section.ingameBar > aside.profile {
  height: 50px;
  width: 300px;
  position: absolute;
  left: 55px;
  line-height: 130%;
  padding: 7px 0;
}

section.ingameBar > aside.profile > .username {
  font-size: 13px;
  font-weight: bold;
  color: black;
  margin: 0;
  display: inline-block;
}

section.ingameBar > aside.profile > .username > em {
  animation: grayout 0.75s infinite ease-in-out;
  -webkit-animation: grayout 0.75s infinite ease-in-out;
  -moz-animation: grayout 0.75s infinite ease-in-out;
}

section.ingameBar > aside.profile > .turn {
  color: #ff3100;
  font-size: 13px;
  display: none;
}

section.ingameBar > aside.profile > .record {
  font-size: 12px;
  color: #555;
  margin: 0;
  display: inline-block;
}

section.ingameBar > aside.profile > .record > .games {
  color: #333;
}

section.ingameBar > aside.profile > .record > .wins,
.body .card > h2 > .wins {
  color: #00b2c5;
}

section.ingameBar > aside.profile > .record > .loses,
.body .card > h2 > .loses {
  color: #f30000;
}

span.red,
.colorRed {
  color: red;
}

.gold {
  color: #ffb300;
}

section.ingameBar.me > aside.profile {
  left: 7px;
  line-height: 130%;
}

section.ingameBar.me {
  top: auto;
  bottom: 0;
  left: 0;
  box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.2);
}

section.gameBoard {
  height: 600px;
  width: 100%;
  position: absolute;
  top: 120px;
  z-index: 2;
  left: 0;
}

section.gameBoard > .board {
  width: 375px;
  height: 375px;
  background-image: url("/img/board.wood.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

section.gameBoard > .board button {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 12px;
  border: none;
  outline: none;
}

section.gameBoard > .board button.white {
  background-color: white;
}

section.gameBoard > .board button.black {
  background-color: black;
}

section.gameBoard > .board button.black.dol1 {
  background-color: transparent;
  background-image: url("/img/dol/dol1.black.png");
  background-repeat: no-repeat;
}

section.gameBoard > .board button.black.dol2 {
  background-color: transparent;
  background-image: url("/img/dol/dol2.black.png");
  background-repeat: no-repeat;
}

section.gameBoard > .board button.white.dol1 {
  background-color: transparent;
  background-image: url("/img/dol/dol1.white.png");
  background-repeat: no-repeat;
}

section.gameBoard > .board button.white.dol2 {
  background-color: transparent;
  background-image: url("/img/dol/dol2.white.png");
  background-repeat: no-repeat;
}

section.gameBoard > .board button:hover,
section.gameBoard > .board button.on {
  border: 2px solid red;
}

section.gameBoard > .statusBar {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
  margin-bottom: 3px;
  position: relative;
}

section.gameBoard > .statusBar > span.left {
  position: absolute;
  left: 10px;
  font-size: 13px;
  bottom: 2px;
}

section.gameBoard > .statusBar > span.right {
  position: absolute;
  right: 10px;
  font-size: 13px;
  bottom: 2px;
  text-align: right;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  display: none;
}

.overlay .Modal {
  display: none;
}

.overlay .Toast,
.overlay .Modal {
  display: none;
  background-color: white;
  width: 90%;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  font-size: 15px;
  border-radius: 4px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.3);
  color: #444;
  margin: 0 auto;
  position: absolute;
  left: 5%;
  top: 50%;
  margin-top: -35px;
  z-index: 2;
}

.overlay .Toast span,
.overlay .Modal span {
  display: inline-block;
}

.overlay .Modal span {
  display: block;
}

.overlay .Modal input[type=text],
.overlay .Modal input[type=password] {
  border: none;
  background-color: #E1E1E1;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 13px;
  margin-top: 5px;
  width: calc(100% - 80px);
}

.overlay .Modal button {
  background: transparent;
  border: none;
  padding: 3px 5px;
  color: #00b2dc;
  font-size: 20px;
  font-weight: bold;
  width: 30px;
}

.overlay .Toast.double,
.overlay .Modal {
  line-height: 150%;
  height: auto;
  padding: 15px 10px;
  padding-left: 50px;
}

.overlay .Toast.double i,
.overlay .Modal i {
  position: absolute;
  left: 15px;
  top: 27px;
}

.spin {
  animation: spin 0.75s infinite ease-in-out;
  -webkit-animation: spin 0.75s infinite ease-in-out;
  -moz-animation: spin 0.75s infinite ease-in-out;
}

div.card {
  background-color: white;
  padding: 15px;
  margin: 0 10px;
  margin-bottom: 10px;
  border-radius: 0;
  border: none;
  color: #000;
  font-size: 12px;
}

div.card h1 {
  font-size: 14px;
  text-align: left;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-weight: bold;
}

div.card h2 {
  font-size: 13px;
  margin: 0;
  line-height: 200%;
  font-weight: bold;
}

div.card p {
  max-height: 100px;
  overflow-y: auto;
  margin-bottom: 0px;
}

div.card textarea#chatContents {
  background-color: transparent;
  font-size: 12px;
  line-height: 150%;
  color: black;
  border: none;
  height: 100px;
  padding: 5px 0;
}

div.card input#chatInput {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 12px;
  border-radius: 3px;
  line-height: 150%;
  color: black;
  border: none;
  outline: none;
  padding: 5px;
}

div.card ul#currentList {
  margin: 0;
  padding: 0;
  overflow: auto;
  max-height: 90px;
}

div.card ul#currentList li {
  list-style: none;
  margin: 0;
  padding: 5px 10px;
  background-color: #F7F7F7;
  border-radius: 3px;
  display: inline-block;
  margin-top: 5px;
  width: 49%;
  margin-left: 1%;
}

div.card ul#currentList li small {
  text-align: right;
  float: right;
  vertical-align: -webkit-baseline-middle;
}

div.card ul#currentList li.status2 {
  background-color: #c8f3b7;
}

div.card ul#currentList li.status3 {
  background-color: #d6d9fb;
}

div.card ul#currentList li.status4 {
  background-color: #ff9a9a;
}

section.lobby .body {
  overflow-y: auto;
  padding-bottom: 110px;
}

section.lobby .body .segment {
  display: none;
}

section.lobby .body .segment .accountBoard ul {
  padding: 0;
  font-size: 14px;
  color: black;
  list-style: none;
  margin: 0;
  margin-top: 10px;
}

section.lobby .body .segment .accountBoard ul li {
  padding: 3px 0;
}

section.lobby .body .segment .accountBoard ul li .left {
  width: 30%;
  font-weight: bold;
  display: inline-block;
}

section.lobby .body .segment .accountBoard ul li .right {
  width: 68%;
  text-align: right;
  display: inline-block;
}

section.lobby .body .segment .accountBoard button {
  display: block;
  width: 100%;
  border: none;
  background: #00c6ff;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  text-shadow: 0px 1px 1px black;
  border-radius: 4px;
  border: none;
  padding: 7px;
  margin-right: 5px;
  margin-top: 8px;
}

section.lobby .body .segment .rankBoard ul.ranker {
  margin: 0;
  padding: 0;
  list-style: none;
}

section.lobby .body .segment .rankBoard ul.ranker li {
  display: inline-block;
  text-align: center;
  line-height: 200%;
}

section.lobby .body .segment .rankBoard ul.ranker li.no {
  width: 10%;
}

section.lobby .body .segment .rankBoard ul.ranker li.nick {
  width: 40%;
}

section.lobby .body .segment .rankBoard ul.ranker li.wins {
  width: 10%;
}

section.lobby .body .segment .rankBoard ul.ranker li.loses {
  width: 10%;
}

section.lobby .body .segment .rankBoard ul.ranker li.winrate {
  width: 20%;
}

section.lobby .body .segment .rankBoard ul.ranker li.online {
  width: 10%;
}

section.lobby .body .segment .rankBoard ul.head {
  padding-top: 5px;
  font-weight: bold;
}

section.lobby .body .segment .storeBoard ul.menu,
section.lobby .body .segment .inventory ul.menu {
  margin: 10px 0;
  list-style: none;
  padding: 0;
  background-color: #EFEFEF;
  border-radius: 4px;
  box-sizing: border-box;
}

section.lobby .body .segment .storeBoard ul.menu li,
section.lobby .body .segment .inventory ul.menu li {
  width: 24%;
  padding: 10px 0;
  margin: 0;
  text-align: center;
  font-size: 14px;
  display: inline-block;
}

section.lobby .body .segment .storeBoard ul.menu li.on,
section.lobby .body .segment .inventory ul.menu li.on {
  font-weight: bold;
  color: orange;
}

section.lobby .body .segment .storeBoard ul.item,
section.lobby .body .segment .storeBoard ul.purchaseList,
section.lobby .body .segment .inventory ul.item,
section.lobby .body .segment .inventory ul.purchaseList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

section.lobby .body .segment .storeBoard ul.item li,
section.lobby .body .segment .storeBoard ul.purchaseList li,
section.lobby .body .segment .inventory ul.item li,
section.lobby .body .segment .inventory ul.purchaseList li {
  position: relative;
  height: 90px;
  margin-top: 10px;
  padding: 10px 0;
  background-color: #EFEFEF;
  border-radius: 4px;
  display: none;
}

section.lobby .body .segment .storeBoard ul.item li .imageHolder,
section.lobby .body .segment .storeBoard ul.purchaseList li .imageHolder,
section.lobby .body .segment .inventory ul.item li .imageHolder,
section.lobby .body .segment .inventory ul.purchaseList li .imageHolder {
  background-color: #FFF;
  border-radius: 4px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 5px;
  top: 5px;
  text-align: center;
}

section.lobby .body .segment .storeBoard ul.item li h1,
section.lobby .body .segment .storeBoard ul.purchaseList li h1,
section.lobby .body .segment .inventory ul.item li h1,
section.lobby .body .segment .inventory ul.purchaseList li h1 {
  color: black;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 65px;
  padding: 0;
  font-size: 14px;
}

section.lobby .body .segment .storeBoard ul.item li p,
section.lobby .body .segment .storeBoard ul.purchaseList li p,
section.lobby .body .segment .inventory ul.item li p,
section.lobby .body .segment .inventory ul.purchaseList li p {
  margin: 0;
  padding: 0;
  margin-left: 65px;
  color: black;
  font-size: 13px;
}

section.lobby .body .segment .storeBoard ul.item li button,
section.lobby .body .segment .storeBoard ul.purchaseList li button,
section.lobby .body .segment .inventory ul.item li button,
section.lobby .body .segment .inventory ul.purchaseList li button {
  position: absolute;
  bottom: 5px;
  background-color: #fff;
  right: 5px;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  color: black;
}

section.lobby .body .segment .storeBoard ul.purchaseList li,
section.lobby .body .segment .inventory ul.purchaseList li {
  height: 60px;
}

section.lobby .body .segment.home {
  display: block;
}

section.lobby .startBtnWrapper {
  position: fixed;
  bottom: 65px;
  left: 0;
  width: 100%;
}

section.lobby .startBtnWrapper .inviteListWrapper {
  width: 50%;
  position: fixed;
  bottom: 114px;
  z-index: 2;
  right: 5px;
}

section.lobby .startBtnWrapper .inviteListWrapper .inviteBlock {
  line-height: 150%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding: 7px;
  font-size: 13px;
  color: #fff;
  margin-top: 5px;
}

section.lobby .startBtnWrapper .inviteListWrapper .inviteBlock button {
  background: #00c6ff;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  text-shadow: 0px 1px 1px black;
  border-radius: 4px;
  border: none;
  padding: 4px 7px;
  margin-right: 5px;
  display: inline-block;
}

section.lobby .startBtnWrapper .startBtn {
  background: #B3FFAB;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #07ea78, #18d9d1);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 10px 7px;
  text-align: center;
  width: 48%;
  margin-left: 1%;
  display: inline-block;
}

section.lobby .startBtnWrapper .runningBtn {
  background: #f12711;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f5af19, #f12711);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 10px 7px;
  text-align: center;
  width: 98%;
  margin: 0 1%;
  display: none;
}

section.lobby .startBtnWrapper .runningBtn.matched {
  background: #ED213A;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93291E, #ED213A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section.lobby .logoWrapper {
  margin: 0;
  min-height: 80px;
  text-align: left;
  padding: 0;
}

section.lobby .logoWrapper .myinfo {
  position: absolute;
  right: 20px;
  top: 28px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 0 7px;
}

section.lobby .logoWrapper .myinfo * {
  font-size: 14px;
  color: white;
  line-height: 30px;
}

section.lobby .logoWrapper .myinfo span.username {
  margin-left: 5px;
}

section.lobby .logoWrapper .myinfo ul {
  display: none;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.7);
  width: 80px;
  position: absolute;
  right: 0px;
  top: 35px;
  padding: 0;
  margin: 0;
  z-index: 2;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

section.lobby .logoWrapper .myinfo ul li {
  padding: 0;
  margin: 0;
  font-size: 13px;
  padding: 5px 10px;
}

section.lobby .logoWrapper img {
  padding-left: 10px;
  width: 150px;
  padding-top: 23px;
  height: auto;
}

section.lobby nav.bottom {
  background-color: white;
  height: 60px;
  line-height: 60px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

section.lobby nav.bottom ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section.lobby nav.bottom ul li {
  display: inline-block;
  width: 24%;
  text-align: center;
  font-size: 20px;
  box-sizing: border-box;
  color: #777;
  height: 60px;
  line-height: 60px;
  position: relative;
}

section.lobby nav.bottom ul li span {
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 10px;
  line-height: 12px;
}

section.lobby nav.bottom ul li em {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  text-align: center;
}

section.lobby nav.bottom ul li.on {
  color: #333;
}

.intervene {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.intervene .dialog {
  width: 100%;
  position: absolute;
  top: 50%;
  background-color: black;
  margin-top: -40px;
  padding: 15px 10px;
  display: none;
  font-size: 15px;
  color: white;
}

.intervene .dialog.ready {
  text-align: center;
  margin-top: -27px;
}

.intervene .dialog.quitWarning {
  margin-top: -99px;
}

.intervene .dialog.quitWarning button {
  margin-top: 5px;
  display: inline-block;
  width: 49%;
  border: none;
  color: #222;
  background-color: #fff;
  padding: 5px 0;
  box-sizing: border-box;
  font-size: 14px;
}

.intervene .dialog.rsp {
  position: relative;
  margin-top: -151.5px;
}

.intervene .dialog.rsp h1 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.intervene .dialog.rsp h2 {
  font-size: 16px;
  text-align: center;
}

.intervene .dialog.rsp div {
  text-align: center;
  padding: 5px 0;
  font-size: 14px;
}

.intervene .dialog.rsp div span {
  vertical-align: middle;
}

.intervene .dialog.rsp div span.rspbutton {
  border: 2px solid #fff;
  border-radius: 4px;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.intervene .dialog.rsp div span.rspbutton:active,
.intervene .dialog.rsp div span.rspbutton.selected,
.intervene .dialog.rsp div .rspdone {
  border-color: red !important;
  color: red;
}

.intervene .dialog.rsp .timer {
  background-color: red;
  height: 7px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
}

section.ingame aside.gameAction {
  z-index: 3;
  position: fixed;
  bottom: 58px;
  display: block;
  width: 100%;
  left: 0;
  height: 50px;
}

section.ingame aside.gameAction .wrapper {
  display: none;
  width: 90%;
  margin: 0 5%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  position: absolute;
  padding-left: 15px;
}

section.ingame aside.gameAction .wrapper button.apply {
  position: absolute;
  top: 10px;
  border: none;
  border-left: 1px solid #ddd;
  height: 30px;
  line-height: 30px;
  right: 0px;
  width: 100px;
  text-align: center;
  color: #fff;
  background-color: transparent;
  font-size: 15px;
  outline: none;
}

section.ingame aside.gameAction .wrapper button.apply i {
  color: green;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

@-webkit-keyframes blinkturn {
  0% {
    border-color: #fff;
  }

  50% {
    border-color: indianred;
  }

  100% {
    border-color: white;
  }
}

@-webkit-keyframes grayout {
  0% {
    color: #ccc;
  }

  50% {
    color: #777;
  }

  100% {
    color: #ccc;
  }
}

footer {
  display: none;
}

